doctype 5
html
  head
    title= "Paper Node WebSockets drawing demo"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/paper.js")
  body
    block content